*{
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
.container{
	width: 980px;
	margin: 0 auto;
}
header{
	height: 122px;
	background: #d6ecde;
}
.nav{
	height: 50px;
	background: #1d5860;
	list-style: none;
}
.nav-link, .nav-item{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	float: left;
	line-height: 35px;
	padding: 0 15px;
}
.login-form{
	width: 100%;
	max-width: 400px;
	margin: 100px auto;
	background-color: #fff;
	padding: 15px;
	border: 2px solid #ccc;
	border-radius: 10px;
}
.input-box{
	margin-bottom: 10px;
}
.input-box input{
	padding: 7.5px 15px;
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
}
.btn-box{
	text-align: right;
	margin-top: 30px;
}
.btn-box button{
	padding: 7.5px 15px;
	border-radius: 2px;
	background: #009999;
	color: #fff;
	border: none;
}
h1{
	text-align: center;
	padding: 15px 0;
	color: #272f54;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold
}
p{
	text-align: left;
	padding: 15px 100px;
	font-size: 15px;
}
footer{
	clear: both;
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 1118px;
	background: #1d5860;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	top: 50px;
	background-color: #1d5860;
	z-index: 1;
}
.dropdown-item{
	color: #fff;
	font-size: 14px;
	line-height: 35px;
	padding: auto;
	text-decoration: none;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.form-check{
	margin-bottom: 15px;
	margin-left: 200px;
}
.form-group ,.form-check-input{
	margin-top: 15px;
	padding-left: 200px;
	padding-right: 200px;
}
.btn-form{
	text-align: center;
	margin-top: 15px;
}
.btn-form button{
	padding: 7.5px 15px;
	border-radius: 2px;
	background: #009999;
	color: #fff;
	border: none;
	margin-bottom: 170px;
	margin-top: 40px;
}
.table{
	margin-top: 15px;
}
.dropdown-select{
	float: left;
	margin-right: 15px;
}
.note{
	width: 14%;
	color: black;
	text-align: left;
	padding-left: 0;
	font-size: 17px;
	border: 0.5px solid;
	border-radius: 2px;
}
.btn-search button{
	padding: 7.5px 15px;
	border-radius: 2px;
	background: #009999;
	color: #fff;
	border: none;
}